.intro-wrapper {
  background: rgb(77, 157, 224);
  background: linear-gradient(
    180deg,
    rgba(77, 157, 224, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.intro-items .intro-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0rem;
  padding: 1rem;
}

.intro-items .intro-item img {
  width: 90%;
  margin: 0.5rem;
}

.intro-items h1,
p {
  text-align: center;
  margin: 1rem;
}

.intro-item h1,
p {
  font-size: 1rem;
}
